<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>AI Test</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <font>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </font>

  <gui>
    <atlas file="gui/atlas.png"/>
    <cursorInput file ="gui/Cursor_text.png"/>
  </gui>
    
  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>./../Game/data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
      <ui_label x="100" y="200" drag="true">This is a test</ui_label>
      <ui_label x="100" y="300" drag="true">This is the SECOND test</ui_label>
  </scene>

  <AI>
    <camp name ="entities">
      <entity name="unit_1">
        <attribute type="1" value="150">hp</attribute>
        <attribute type="3" value="true">flying</attribute>
        <attribute type="0" value="250.0">maxSpeed</attribute>
        <attribute type="0" value="2.0">targetRadius</attribute>
        <attribute type="1" value="20">damage</attribute>
        <attribute type="0" value="200.0">sightRange</attribute>
        <attribute type="0" value="90.0">attackRange</attribute>
        <attribute type="0" value="0.5">attackSpeed</attribute>
        <attribute type="3" value="false">kites</attribute>
        <attribute type="3" value="false">flees</attribute>
      </entity>
      <entity name="unit_2">
        <attribute type="1" value="50">hp</attribute>
        <attribute type="3" value="true">flying</attribute>
        <attribute type="0" value="200.0">maxSpeed</attribute>
        <attribute type="0" value="2.0">targetRadius</attribute>
        <attribute type="1" value="10">damage</attribute>
        <attribute type="0" value="150.0">sightRange</attribute>
        <attribute type="0" value="50.0">attackRange</attribute>
        <attribute type="0" value="0.5">attackSpeed</attribute>
        <attribute type="3" value="false">kites</attribute>
        <attribute type="3" value="false">flees</attribute>
      </entity>
      <entity name="unit_3">
        <attribute type="1" value="150">hp</attribute>
        <attribute type="3" value="true">flying</attribute>
        <attribute type="0" value="150.0">maxSpeed</attribute>
        <attribute type="0" value="2.0">targetRadius</attribute>
        <attribute type="1" value="20">damage</attribute>
        <attribute type="0" value="220.0">sightRange</attribute>
        <attribute type="0" value="70.0">attackRange</attribute>
        <attribute type="0" value="0.5">attackSpeed</attribute>
        <attribute type="3" value="false">kites</attribute>
        <attribute type="3" value="false">flees</attribute>
      </entity>
    </camp>
    <camp name ="Behaviours">
    </camp>
  </AI>
  

</config>